@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glitch {
  0% {
    transform: translate(0);
    filter: hue-rotate(0deg);
  }
  20% {
    transform: translate(-2px, 2px);
    filter: hue-rotate(90deg);
  }
  40% {
    transform: translate(-2px, -2px);
    filter: hue-rotate(180deg);
  }
  60% {
    transform: translate(2px, 2px);
    filter: hue-rotate(270deg);
  }
  80% {
    transform: translate(2px, -2px);
    filter: hue-rotate(360deg);
  }
  100% {
    transform: translate(0);
    filter: hue-rotate(0deg);
  }
}

@keyframes vim-blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.glitch-hover:hover {
  animation: glitch 0.3s infinite;
}

.vim-cursor {
  width: 8px;
  height: 20px;
  background-color: #10b981;
  animation: vim-blink 700ms step-end infinite;
  animation-delay: 700ms;
  transform: translate(-4px, -10px);
}
